@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    background-image: url('images/palms-tropical-beach-white-sand-summer-vacation-travel-holiday-background-concept-caribbean-paradise-beach-palms-136606345.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    filter: blur(0px);
    z-index: -1;
}

.loading-text{
    font-size: 50px;
    color: white;
}